@import '~tdp_core/src/styles/vars';

.expressionVsCopyNumber, .coExpression {

  .title {
      font-weight: 500;
  }

  .mark {
    fill: $core_color_almost_black;
    cursor: pointer;

    &.clicked {
      fill: $select-data-color
    }

    &:active,
    &:focus,
    &:hover {
      fill: $hover-data-color;
    }
  }

  .tdp-legend {
    padding: 1em;
    display: flex;
    flex: 1 1 100%;
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    > div {
      flex: 0 0 auto;
      margin: 0 0.5em;
      max-width: 15em;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

}
