.expressionVsCopyNumber, .coExpression {

  .title {
      font-weight: 500;
  }

  .mark {
    fill: $core_color_almost_black;
    cursor: pointer;

    &.clicked {
      fill: $select-data-color
    }

    &:active,
    &:focus,
    &:hover {
      fill: $hover-data-color;
    }
  }



}
